@import url('https://fonts.googleapis.com/css?family=Catamaran:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300i&display=swap');

.navbar-brand {
  color: #ffff00;
}

.h1Font {
  font-family: Catamaran, Helvetica, Arial, sans-serif
}

.btnFonts {
  font-family: Lato, Helvetica, Arial, sans-serif
}

.h2footerFonts {
  font-family: Muli, Helvetica, Arial, sans-serif
}

.navbar-brand:hover {
  color: #FFF;
}

.navDiv--patterned {
  background-image: url("/img/bg-pattern.png"), linear-gradient(to right, #ff1a1a, #cc00cc);
}

.textDiv--white {
  padding: 10%;
}

#Discover {
  padding: 20% 10%;
}

.startButton {
  border-radius: 50px;
  padding: 10px 40px;

}

@keyframes colorchanger {
  from {
    background-color: transparent;
  }

  to {
    background-color: #fdcc52
  }
}

.startButton:hover {
  animation-name: colorchanger;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

}

#StopWaiting {
  background-image: url("/img/bg-cta.jpg");
  background-size: cover;
  height: 90vh;
  filter: brightness(60%)
}

.fa-heart,
.fa-google-plus-official {
  color: #DB4437;
  ;
}

.fa-facebook-square {
  color: #3C5A99
}

.fa-twitter {
  color: #1DA1F2;
}

.socMed-bg {
  opacity: 0.9;
}

.footer--bg {
  background-color: #404040;
}